.colorFilters button {
  margin-right: 20px
}

.activeFilter {
  background-color: #666;
  color: white;
}

.nonActiveFilter {
  background-color: white;
  color: black;
}

.flagSection {
  padding: 5px 10px;
}
