.flagSection {
  margin-left: 200px;
}

.filterSection {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  padding-top: 20px;
}

.colorFilters button {
  margin: 0 10px
}

.activeFilter {
  background-color: #666;
  color: white;
}

.nonActiveFilter {
  background-color: white;
  color: black;
}

.flagImage {
  padding: 5px 10px;
}
